*
!build/blackduck
!build/blackduck-sbt-java8
!build/blackduck-sbt-java11
!build/burpsuite
!build/checkmarx
!build/common
!build/coverity
!build/golangci-lint
!build/gosec
!build/govet
!build/securitycodescan
!build/staticcheck
!cmd/testconnect
!cmd/zap
!go.mod
!pkg
